# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  database_username: <%= ENV["DATABASE_USERNAME"] %>
  database_password: <%= ENV["DATABASE_PASSWORD"] %>
  secret_key_base: afd521bcda76ff8632278ed1f26e88bbad816edccb2be9a8809d2527c8d1c24ec998366aa3d2ebff64443ed713abb8fd8d660b7f6d13250ead0e80e806ffe459

test:
  database_username: <%= ENV["DATABASE_USERNAME"] %>
  database_password: <%= ENV["DATABASE_PASSWORD"] %>
  secret_key_base: 68615760a7186d88b9bcd5fd087c24f829735717502145bb13f931119163cff0956265e5572c29a6155854b6ea3cbdaa85e59acce15e3f0d15534fccca6d1bc8

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  database_username: <%= ENV["DATABASE_USERNAME"] %>
  database_password: <%= ENV["DATABASE_PASSWORD"] %>
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
